[submodule "Engine"]
	path = Engine
	url = https://github.com/ThreeRhinosInAnElephantCostume/Carcassonne-Engine.git
[submodule "Utils"]
	path = Utils
	url = https://github.com/ThreeRhinosInAnElephantCostume/Carcassonne-Utils.git
